In [31]:
import string
import pandas as pd
df = pd.read_csv( "fulldataset.csv" ,sep=";")

In [32]:
df.head()

                                        Comment_text  Hateful_or_not Platform
0  this is disgusting and heartbreaking. they sho...               1  YouTube
1  Fuck that cop. Nothing but a fucking thug. \n\...               1  YouTube
2  Fucking piece of shit cops, protect and serve ...               1  YouTube
3  Land of the free... My fucking ass. America is...               1  YouTube
4             These fucking cops are out of control!               1  YouTube

In [37]:
def counts(sentence):
    c=0
    sentence=sentence.split()
    for w in sentence:
        if w.isalpha():
            c+=1
    return c

def uppercaseCounts(sentence):
    c=0
    sentence=sentence.split()
    for w in sentence:
        if w.isalpha():
            for char in w:
                if char.isupper():
                    c+=1
    return c

def upperAvg(sentence):
    denom= counts(sentence)
    if denom == 0:
        return 0
    return uppercaseCounts(sentence)/counts(sentence)

def numbers(sentence):
    c=0
    sentence=sentence.split()
    for w in sentence:
        if w.isnumeric():
            c+=1
    return c

def numbersAvg(sentence):
    denom= counts(sentence)
    if denom == 0:
        return 0

    return numbers(sentence)/counts(sentence)

def punctuations(sentence):
    c=0
    for w in sentence:
        if w in string.punctuation:
            c+=1
    return c

def punctuationAvg(sentence):
    denom= counts(sentence)
    if denom == 0:
        return 0
    return punctuations(sentence)/counts(sentence)

In [38]:
df["wordCount"]=df["Comment_text"].apply(counts)
df["uppercaseCounts"]=df["Comment_text"].apply(uppercaseCounts)
df["upperAvg"]=df["Comment_text"].apply(upperAvg)
df["punctuations"]=df["Comment_text"].apply(punctuations)
df["punctuationAvg"]=df["Comment_text"].apply(punctuationAvg)
df["numbers"]=df["Comment_text"].apply(numbers)
df["numbersAvg"]=df["Comment_text"].apply(numbersAvg)

In [39]:
df.head()

,Comment_text,Hateful_or_not,Platform,wordCount,uppercaseCounts,upperAvg,punctuations,punctuationAvg,numbers,numbersAvg
0,this is disgusting and heartbreaking. they sho...,1,YouTube,65,0,0.000000,10,0.153846,1,0.015385
1,Fuck that cop. Nothing but a fucking thug. \n\...,1,YouTube,8,3,0.375000,2,0.250000,0,0.000000
2,"Fucking piece of shit cops, protect and serve ...",1,YouTube,9,1,0.111111,1,0.111111,0,0.000000
3,Land of the free... My fucking ass. America is...,1,YouTube,39,3,0.076923,5,0.128205,0,0.000000
4,These fucking cops are out of control!,1,YouTube,6,1,0.166667,1,0.166667,0,0.000000

In [40]:
df.to_csv("SimpleFeatures.csv")

In [1]:
import pandas as pd
df = pd.read_csv( "SimpleFeatures.csv")
y = df.Hateful_or_not
copy=df.drop(["Hateful_or_not","Comment_text","Platform"],axis=1)

In [2]:
y

0         1
1         1
2         1
3         1
4         1
         ..
197561    1
197562    1
197563    1
197564    1
197565    1
Name: Hateful_or_not, Length: 197566, dtype: int64

In [3]:
copy

,wordCount,uppercaseCounts,upperAvg,punctuations,punctuationAvg,numbers,numbersAvg
0,65,0,0.000000,10,0.153846,1,0.015385
1,8,3,0.375000,2,0.250000,0,0.000000
2,9,1,0.111111,1,0.111111,0,0.000000
3,39,3,0.076923,5,0.128205,0,0.000000
4,6,1,0.166667,1,0.166667,0,0.000000
...,...,...,...,...,...,...,...
197561,269,22,0.081784,58,0.215613,0,0.000000
197562,6,28,4.666667,0,0.000000,0,0.000000
197563,52,5,0.096154,6,0.115385,0,0.000000
197564,87,13,0.149425,30,0.344828,0,0.000000
197565,33,0,0.000000,2,0.060606,0,0.000000

In [4]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC

X_train, X_test, y_train, y_test = train_test_split( copy, y, test_size=0.30 )
svmClassifier = SVC(kernel='linear')

In [5]:
X_train

,wordCount,uppercaseCounts,upperAvg,punctuations,punctuationAvg,numbers,numbersAvg
116918,69,7,0.101449,20,0.289855,0,0.0
174544,114,8,0.070175,19,0.166667,0,0.0
182406,12,21,1.750000,0,0.000000,0,0.0
110194,36,5,0.138889,7,0.194444,0,0.0
107821,34,3,0.088235,11,0.323529,0,0.0
...,...,...,...,...,...,...,...
60044,44,6,0.136364,8,0.181818,0,0.0
170415,28,6,0.214286,13,0.464286,0,0.0
176867,9,14,1.555556,2,0.222222,0,0.0
13335,8,1,0.125000,10,1.250000,0,0.0
129277,11,3,0.272727,4,0.363636,0,0.0